<div class="row">
    <div class="col-md-12 text-center">
        <h2>Edit-Product</h2>

    </div>
    <div class="row">
        <form [formGroup]="editProduct" (ngSubmit)="UpdateData()">
            <div class="row mt-2">
                <div class="col-md-4">
                    Product-Name
                    <input type="text" formControlName="product_name" [(ngModel)]="product.product_name"
                        class="form-control">
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    Product-Price
                    <input type="text" formControlName="product_price" [(ngModel)]="product.product_price"
                        class="form-control">
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    Product-Category
                    <input type="text" formControlName="product_category" [(ngModel)]="product.product_category"
                        class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    Manufacturer
                    <input type="text" formControlName="manufacturer" [(ngModel)]="product.manufacturer"
                        class="form-control">
                </div>
            </div>
            <input type="hidden" [(ngModel)]="product._id" formControlName="_id">
            <div class="row mt-3">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success" (click)="UpdateData()">Submit Form</button>
                </div>
            </div>
        </form>
    </div>


</div>
